.containerFullscreen{
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.darker *{
    color:white;
 }
 .titleFestival{
    padding-top: 5%;
    font-size: 6em;
 }
 .darker h2{
    font-size: 2em;
    margin-left:15%
 }

 .listWhouaw{
    display: flex;
    width: 60%;
    margin: auto;
    text-align: left;
    flex-direction:column;
    background-color: rgba(43,22,5, 0.60);
    /*
    border-radius: 5em;
    border-style:dotted;
    */
    padding: 0;
 
  }
  .listWhouaw li{
    font-size: 2.3em;
    background-color: rgba(15,7,0, 0.60);
    padding: 0.8em;
    width: 100%;
  }
  .petit{
    font-size: 0.5em;
  }