.containerHero{
    width: 100vw;
    height: 70vh;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 80%;
    margin-right: 20%;
}
.HeroTextDiv{
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: 10%;
    }

.HeroTextDiv h1{
   color: rgb(227, 83, 30); 
   font-weight: bolder;
   font-size: 2.6em;
}
.HeroTextDiv p{
    color: coral; 
    font-weight: bolder;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
 }
 .highlight{
   color:green;
 }