.containerFullscreen{
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
 .childrenLocation{
    height: 100%;
    padding: 0 20%;
    margin:0;
 }
 .childrenLocation ul{
    display: flex;
    justify-content:space-between ;
    flex-direction: row;
    width: 100%;
    height: 40%;
 }
 .childrenLocation ul li{
    width : 25%;
    padding: 3%;
    background-color: rgba(240, 248, 255, 0.60);
    border-radius: 5%;
 }
 .childrenLocation ul li:hover{
   transition: transform 3s;
   transform:scale(1.5) translate(0, 25%)
 }

 .childrenLocation h2{
   text-align: center;
   font-size:2em;
 }

.childrenLocation h1{
   font-size: 3em;
   background-color: rgba(240,248,255,0.6);
}
