nav{
display: flex;
height: 100%;
width: 100%;
background-color: white;
}

.activatedNavBar{
    background-color: white;

}

.containerNav{
    height: 20vh;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 3;
    display: flex;
}


.logoContainer{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    max-width: 100%;
    max-height: 100%;
    transition: transform 2s ;
}
.logo:hover{
    transform: translate(5vw,1vh)rotate(360deg) scale(1.25) skew(5deg,5deg);
}
ul{
    list-style-type: none;
    display: flex;
    width: 80%;
}
li{
    margin:auto;
}

.link{
    color:black;
    text-decoration: none;
    font-size: 2em;
}
.link:hover{
    color:green;
}