h1{
    font-family: 'Brush Script MT', serif;
    text-align: center;
    color: #503f21;
}
@font-face {
    font-family: "Futura-Regular";   /*Can be any text*/
    src: local("Futura-Regular"),
      url("./fonts/Futura-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "Good Morning Purple";   /*Can be any text*/
    src: local("goodmorningpurple_1.2_free"),
      url("./fonts/goodmorningpurple_1.2_free.ttf") format("truetype");
  }
  @font-face {
    font-family: "Rotulista-Regular";   /*Can be any text*/
    src: local("Rotulista-Regular"),
      url("./fonts/Rotulista-Regular.ttf") format("truetype");
  }

  /*p{
    font-family: "Rotulista-Regular";
  }
  h1{
    font-family: "Rotulista-Regular";
  }*/
  


